@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    height: 9px;
    

}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgb(95, 95, 95);
    width: 35%;
    
    
}